#__nuxt
	cub-scroll-bar.page-wrapper(#scrollBar, fullViewport='true')
		navigation-bar([config]='config')
		router-outlet
		footer-bar(
			#footer,
			[config]='config')
		.stick-right-bottom
			a.icon-social(
				target='_blank',
				[href]='config?.socialLink | empty')
				.icon.icon-facebook(alt='')
			a.icon-social(
				target='_blank',
				[href]='config?.zaloLink | empty')
				.icon.icon-zalo(alt='')
			a.icon-social(
				target='_blank',
				[href]='"tel:" + config?.phone | empty')
				.icon.icon-phone-social(alt='')
			+if('showScrollTop')
				a.scroll-to-top.scroll-to-target(
					(click)='scrollToTop()')
					span.fa.fa-angle-up
			+else
				a.scroll-to-top.scroll-to-target(
					(click)='scrollToBottom()')
					span.fa.fa-angle-down
