div
	section.page-title(style='background-image:url(assets/assets1/images/background/page-title.jpg);')
		.auto-container
			.title-outer
				h1.title
					| {{ "BASE.LABEL.NEWS_EVENT" | translate }}
				ul.page-breadcrumb
					li
						a(routerLink='/')
							| {{ "BASE.LABEL.HOME" | translate }}
					li
						| {{ "BASE.LABEL.NEWS" | translate }}
	section.news-section
		.auto-container
			.row
				+if('loaded')
					+for('news of newsList; track news')
						.news-block.col-lg-4.col-md-6.col-sm-12.wow.fadeInUp
							a.inner-box([routerLink]='[ "/news/detail", news.id ]')
								.image-box
									figure
										.image(
											[style]='"background-image: url(" + news?.thumbnail?.url + ");"')
								.lower-content
									ul.post-info
										li
											i.fa.fa-user-circle.mr-10
											| Admin
										li
											i.fa.fa-calendar.mr-10
											| {{ news.createdAt | momentDate : "DD/MM/YY"}}
									h5.title.text-truncate-multi-line.mah-56([title]=`news?.topic`)
										| {{ news.topic | empty }}
									.text-truncate-multi-line-3.text([title]=`news?.description`)
										| {{ news?.description | empty }}
				+else
					.layout-row.layout-align-center-start
						cub-loading
